h1, h2 , h3, h4 {
    color:aqua;
}
p {
    color:blue;
    font-family: 12px;
}
li {
    color:blue;
    font-family: 10px;
}
a {
    color: lawngreen;
    text-decoration: none;
}
.Orange {
    color:orangered;
}
.host {
    color:white;
}
body {
    background-color: black;
}
